#crearPlatillos{
    display: flex;
    width: 80%;
    height: 100vh;
    flex-direction: column;
   align-items: center;
   font-size: 30px;


}
#crearPlatillos form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    
    
}
.inputsPlatillos{
    width: 80%;
    height: 40px;
    margin-top: 31px;
    font-size: 25px;
    
}
input[type="file"]{
    width: 70%;
    height: 30px;
    font-size: 17px;
    margin-top: 10px;

} 
#inputsPlatillos{
    border-right: none;
    border-top: none;
    border-left: none;
}

form textarea{
    width: 70%;
    height: 100px;
    margin-top: 60px;
    font-size: 25px;
}
#crearPlatillos form input[type="submit"]{
    width: 45%;
    height: 40px;
    background-color: #040402;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    margin-top: 25px;
    cursor: pointer;
}